.movie-grid {
  display: flex;
  flex-wrap: wrap;
}

.movie-item {
  flex: 0 1 33.333% ;
  box-sizing: border-box;
  margin-bottom: 20px; 
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}


.movie-item img {
  width: 100%;
  aspect-ratio: 2 / 3; 
  object-fit: fit; 
  border-radius: 4px;
}

.movie-title {
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

.movie-item:hover {
  transform: scale(1.05);
}

.response-negative-message{
   color: #ffffff;
   text-align: center;
}

.back-icon{
    color: #fff;
    padding-right: 10px;
}